*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
header{
    display: flex;
    justify-content:space-around;
    align-items: center;
   gap: 30px; 
}

.header-left{
    display: flex;
    align-items: center;
    gap: 30px;

}
.link a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 20px;
}
.header-right{
    display: flex;
    gap: 20px;
}



.BODY1{
    width: 100%;
    
}
.BODY1{
    background-color: gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    }
    
    .Bodypart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:35%;
    }
    .B1{
        display: flex;
        gap: 10px;
        padding: 20px;
    }
.banner1 > input{
    border: none;
}

.banner1 > input:focus{
    outline: none;
    border-bottom: 1px solid lightcoral

}
.banner1{
    position: relative;
bottom: 130px;
right: 100px;
}
.LR{
    position: relative;
    top: 50px;
    left: 150px;
}
.RL{
    position: relative;
    right: 10px;
bottom:40px ;
}
.RLA{
    position: relative;
    left: 100px;
}


.Part{
display: flex;
justify-content: center;
align-items: center;
width: 50%;
gap: 20px;
margin-top:20px ;
}
.G{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 27.2%;
}
.S{
    position: relative;
    top: 4px;
    right: 20px;
}
.B{
    position: relative;
    top: 4px;
}



.About{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
width: 100%;
gap: 20px;
margin-top: 20px;
}
.K{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     align-items: center;
    width: 50%;
}
.K>div{
    Width:33.3%;
        display: flex; 
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap: 20px;
}


.C{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
width: 100%;
gap: 20px;
padding: 20px 30px;
margin-top: 20px;
}
.C1{
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     align-items: center;
    width: 50%;
    border-radius: 10px;
padding: 20px;
}
.C1>div{
    Width:33.3%;
        display: flex; 
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap: 10px;
}
.A{
    position: relative;
    top: 4px;
}



.Part-1{
    width: 50%;
}


    .Part_two{
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
     align-items: center;
    width: 100%;
    padding: 20px;
    }
    .P_L{
        display: flex;
        justify-content:space-around;
        align-items:center;
        background-color: gray;
        border-radius: 10px;
        padding: 10px;
        flex-direction: column;
        width: 46%;
        margin: 10px;
        }
    
.PP{
    display: flex;
}
  b{
    position: relative;
    left: 10px;
    top: 10px;
  }
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 20px;
    margin:10px ;
    background-color: aqua;
    border-radius: 10px;
    padding: 20px;
    }
    .IC{
        display: flex;
        gap: 10px;
    }
    .F{
        display: flex;
    }
    .Containter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 27.2%;
    gap: 20px;
    }

    










   


